<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CallErrorManagerPortBinding" />
                <binding name="CarInfoManagerPortBinding" />
                <binding name="CarLocationManagerPortBinding" />
                <binding name="CarStepManagerPortBinding" />
                <binding name="QualityInfoManagerPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://120.25.193.80:8080/AppService/CallErrorManagerPort"
                binding="basicHttpBinding" bindingConfiguration="CallErrorManagerPortBinding"
                contract="CallErrorManagerService.CallErrorManagerDelegate"
                name="CallErrorManagerPort" />
            <endpoint address="http://120.25.193.80:8080/AppService/CarInfoManagerPort"
                binding="basicHttpBinding" bindingConfiguration="CarInfoManagerPortBinding"
                contract="CarInfoManagerService.CarInfoManagerDelegate" name="CarInfoManagerPort" />
            <endpoint address="http://120.25.193.80:8080/AppService/CarLocationManagerPort"
                binding="basicHttpBinding" bindingConfiguration="CarLocationManagerPortBinding"
                contract="CarLocationManagerService.CarLocationManagerDelegate"
                name="CarLocationManagerPort" />
            <endpoint address="http://120.25.193.80:8080/AppService/CarStepManagerPort"
                binding="basicHttpBinding" bindingConfiguration="CarStepManagerPortBinding"
                contract="CarStepManagerService.CarStepManagerDelegate" name="CarStepManagerPort" />
            <endpoint address="http://120.25.193.80:8080/AppService/QualityInfoManagerPort"
                binding="basicHttpBinding" bindingConfiguration="QualityInfoManagerPortBinding"
                contract="QualityInfoManagerService.QualityInfoManagerDelegate"
                name="QualityInfoManagerPort" />
        </client>
    </system.serviceModel>
</configuration>